@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin btnStyle() {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin textTitle() {
  font-size: 1.5rem;
  font-weight: 600;
}

$primaryColor: #4a69bd;
$secondaryColor: #fff;
$btnColor: #fad390;
$textColor: #0c2461;
$textColor2: #007bff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: $primaryColor;
}
/*start quiz button styling*/
.start_btn,
.info_box,
.quiz_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start_btn button {
  @include btnStyle();
  background-color: $btnColor;
  color: $textColor;
}

.info_box {
  display: none; //don't show info box
  width: 540px;
  background: $secondaryColor;
  border-radius: 5px;
  .info_title {
    @include textTitle();
    height: 60px;
    width: 100%;
    border-bottom: 1px solid $textColor;
    @include flexCenter();
  }
  .info_list {
    padding: 15px 35px;
    .info {
      margin: 5px 0;
      font-size: 1.1rem;
      span {
        font-weight: 500;
        color: $textColor2;
      }
    }
  }
}
.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid $textColor;
  button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    &.quit {
      color: $textColor2;
      border-color: $textColor2;
      &:hover {
        background: $textColor;
        color: $secondaryColor;
      }
    }
    &.restart {
      color: $secondaryColor;
      background: $textColor2;
      &:hover {
        background: $textColor;
      }
    }
  }
}
//------------QUIZ BOX---------------
.quiz_box {
  width: 550px;
  background: $secondaryColor;
  border-radius: 5px;
  header {
    height: 70px;
    padding: 0 30px;
    background: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid $textColor;
    .title {
      @include textTitle();
    }
    .timer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 145px;
      height: 45px;
      background: $primaryColor;
      color: $secondaryColor;
      padding: 0 8px;
      border-radius: 5px;
      .timer_text {
        user-select: none;
      }
      .timer_sec {
        font-size: 1.3rem;
        user-select: none;
      }
    }
  }
  section {
    padding: 25px 30px 20px 30px;
  }
}
