@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin btnStyle() {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin textTitle() {
  font-size: 1.5rem;
  font-weight: 600;
}
@mixin btn1() {
  height: 40px;
  padding: 0 13px;
  font-size: 1.2rem;
  outline: none;
  color: $secondaryColor;
  background: $textColor2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.03s ease;
  &:hover {
    background: $textColor;
    color: $secondaryColor;
  }
}
@mixin btn2() {
  height: 40px;
  padding: 0 13px;
  font-size: 1.2rem;
  outline: none;
  color: $secondaryColor;
  // background: red;
  border-color: $textColor2;

  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.03s ease;
  &:hover {
    background: $textColor;
    color: $secondaryColor;
  }
}

$primaryColor: #4a69bd;
$secondaryColor: #fff;
$thirdColor: aliceblue;
$btnColor: #ffd700;
$textColor: #0c2461;
$textColor2: #007bff;
$textColor3: #84c5fe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: $primaryColor;
}
/*start quiz button styling*/
.start_btn,
.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}
.info_box.activeInfo,
.quiz_box.activeQuiz {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.start_btn button {
  @include btnStyle();
  background-color: $btnColor;
  color: $textColor;
}

.info_box {
  width: 550px;
  background: $secondaryColor;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  .info_title {
    @include textTitle();
    height: 60px;
    width: 100%;
    border-bottom: 1px solid $textColor;
    @include flexCenter();
  }
  .info_list {
    padding: 15px 35px;
    .info {
      margin: 5px 0;
      font-size: 1.1rem;
      span {
        font-weight: 500;
        color: $textColor2;
      }
    }
  }
}
.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid $textColor;
  button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    &.quit {
      color: $textColor2;
      border-color: $textColor2;
      &:hover {
        background: $textColor;
        color: $secondaryColor;
      }
    }
    &.restart {
      color: $secondaryColor;
      background: $textColor2;
      &:hover {
        background: $textColor;
      }
    }
  }
}
//------------QUIZ BOX---------------
.quiz_box {
  // display: none;
  width: 550px;
  background: $secondaryColor;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid $textColor;
    .title {
      @include textTitle();
    }
    .timer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 145px;
      height: 45px;
      background: $primaryColor;
      color: $secondaryColor;
      padding: 0 8px;
      border-radius: 5px;
      .timer_text {
        user-select: none;
      }
      .timer_sec {
        font-size: 1.3rem;
        user-select: none;
      }
    }
  }
  section {
    padding: 25px 30px 20px 30px;
    background: $secondaryColor;
    .que_text {
      font-size: 1.1rem;
      font-weight: 600;
    }
    .option_list {
      padding: 20px 0;
      display: block;
      .option {
        background: $thirdColor;
        border: 1px solid $textColor3;
        border-radius: 5px;
        padding: 8px 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.3s ease;
        &:last-child {
          margin-bottom: 0px;
        }
        &:hover {
          color: $thirdColor;
          background: $textColor2;
        }
        .icon {
          height: 26px;
          width: 25px;
          border: 2px solid transparent;
          border-radius: 50%;
          text-align: center;
          font-size: 13px;
          line-height: 24px;
          pointer-events: none;
          &.tick {
            color: #23903c;
            border-color: #23903c;
            background: #d4edda;
          }
          &.cross {
            color: #a42834;
            border-color: #a42834;
            background: #f8d7da;
          }
        }
      }
    }
  }
  .option_list .option.correct {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
  }
  .option_list .option.incorrect {
    color: #a42834;
    border-color: #a42834;
    background: #f8d7da;
  }
  .option_list .option.disabled {
    pointer-events: none;
  }
}
.quiz_box footer {
  height: 60px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .total_que span {
    display: flex;
    user-select: none;
    p {
      font-weight: 600;
      padding: 0 5px;
      color: $textColor2;
      &:first-child {
        padding-left: 0px;
      }
    }
  }
  .next_btn {
    height: 40px;
    padding: 0 13px;
    font-size: 1.2rem;
    outline: none;
    color: $secondaryColor;
    background: $textColor2;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.03s ease;
    &:hover {
      background: $textColor;
      color: $secondaryColor;
    }
  }
}
//--------------------------RESULT BOX----------------
.result_box {
  width: 550px;
  background: $secondaryColor;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  .icon {
    font-size: 5rem;
    color: #ffd700;
    margin-bottom: 1rem;
  }
  .complete_text {
    @include textTitle();
  }
  .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 1.3rem;
    p {
      color: $textColor2;
      padding: 0 4px;
      font-weight: 600;
    }
  }
}
.result_box .buttons {
  display: flex;
  margin: 20px 0px;
  button {
    @include btn1();
    margin: 0 10px;
  }
}
.result_box .buttons .quit {
  @include btn2();
  background: grey;
}
