@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #4a69bd;
}

/*start quiz button styling*/
.start_btn,
.info_box,
.quiz_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.start_btn button {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fad390;
  color: #0c2461;
}

.info_box {
  display: none;
  width: 540px;
  background: #fff;
  border-radius: 5px;
}

.info_box .info_title {
  font-size: 1.5rem;
  font-weight: 600;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #0c2461;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_box .info_list {
  padding: 15px 35px;
}

.info_box .info_list .info {
  margin: 5px 0;
  font-size: 1.1rem;
}

.info_box .info_list .info span {
  font-weight: 500;
  color: #007bff;
}

.info_box .buttons {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid #0c2461;
}

.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info_box .buttons button.quit {
  color: #007bff;
  border-color: #007bff;
}

.info_box .buttons button.quit:hover {
  background: #0c2461;
  color: #fff;
}

.info_box .buttons button.restart {
  color: #fff;
  background: #007bff;
}

.info_box .buttons button.restart:hover {
  background: #0c2461;
}

.quiz_box {
  width: 550px;
  background: #fff;
  border-radius: 5px;
}

.quiz_box header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #0c2461;
}

.quiz_box header .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.quiz_box header .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 145px;
  height: 45px;
  background: #4a69bd;
  color: #fff;
  padding: 0 8px;
  border-radius: 5px;
}

.quiz_box header .timer .timer_text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 1.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.quiz_box section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

.quiz_box section .que_text {
  font-size: 1.1rem;
  font-weight: 600;
}

.quiz_box section .option_list {
  padding: 20px 0;
  display: block;
}

.quiz_box section .option_list .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */